@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}

@keyframes ball {
    0% {
        top: 50%;
        left: 0%;
    }

    20% {
        top: 25%;
        left: 25%;
    }

    30% {
        top: 50%;
        left: 50%;
    }

    40% {
        top: 75%;
        left: 75%;
    }

    50% {
        top: 50%;
        left: 100%;
    }

    60% {
        top: 75%;
        left: 75%;
    }

    70% {
        top: 50%;
        left: 50%;
    }

    80% {
        top: 25%;
        left: 25%;
    }

    100% {
        top: 50%;
        left: 0%;
    }
}

@keyframes raketes {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(10%);
    }

    25% {
        transform: translateY(-30%);
    }

    50% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(25%);
    }

    80% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes glitch {
    0% {
        color: white;
        transform: translateX(0) translateY(0%);
    }

    25% {
        color: #3498db;
        transform: translateX(2px) translateY(2px);
    }

    40% {
        color: #e74c3c;
        transform: translateX(-3px) translateY(-3px);
    }

    50% {
        color: #cccccc;
        transform: translateX(0) translateY(0);
    }

    80% {
        color: #3498db;
        transform: translateX(3px) translateY(3px);
    }

    90% {
        color: #e74c3c;
        transform: translateX(-2px) translateY(-2px);
    }

    100% {
        color: white;
        transform: translateX(0) translateY(0);
    }
}

@keyframes changeColor {
    0% {
        color: #cccccc;
    }

    25% {
        color: #2ecc71;
    }

    50% {
        color: #e74c3c;
    }

    75% {
        color: #3498db;
    }

    100% {
        color: #cccccc;
    }
}

html,
body {
    font-size: 20px;
    font-family: 'Courier Prime', monospace;
    background-color: #212121;
}

a {
    color: #2ecc71;

    &:hover {
        color: #3498db;
    }
}

.console {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;

    .output {
        width: 100%;
        color: #cccccc;

        span {
            line-height: 20px;
        }

        span.grey {
            color: #cccccc;
        }

        span.green {
            color: #2ecc71;
        }

        span.red {
            color: #e74c3c;
        }

        span.blue {
            color: #3498db;
        }

        pre {
            font-size: 15px;
            cursor: pointer;
            animation: glitch 0.2s linear infinite;
            animation-play-state: paused;

            &:hover {
                animation-play-state: running;
            }
        }
    }

    .action {
        display: flex;
        width: 100%;
        margin-top: 20px;

        span {
            width: auto;
            color: white;
            padding: 10px 10px 10px 0px;

            #user-ip {
                display: inline;
                color: #cccccc;

            }
        }

        input {
            font-family: 'Courier Prime', monospace;
            padding: 10px;
            margin: 0px 0px 0px 10px;
            font-size: 20px;
            width: 80vw;
            background-color: transparent;
            color: #b6b6b6;
            resize: none;
        }
    }
}

span.seperator {
    animation: changeColor 10s ease-in-out infinite;
}

.pong {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 50px;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 4px;
        height: 4px;
        background-color: white;
        animation: ball 6s linear infinite;
    }

    b {
        display: inline-block;
        position: absolute;
        top: 50%;
        margin-top: -7px;
        transform: translateY(0);

        &.left {
            left: -10px;
            animation: raketes 5s ease-in-out infinite;
        }

        &.right {
            right: -10px;
            animation: raketes 5s ease-in-out 0.5s infinite;
        }
    }
}